frequency: daily
datasets:
  - name: "current"
    source: "tiros"
    query: >
      WITH cte AS (
        select
          *,
          (m.ttfb is null and m.lcp is null and m.fcp is null and m.tti is null and m.cls is null) or m.status_code >= 400 or m.status_code < 200 has_error
        from measurements m
          inner join runs r on r.id = m.run_id
        where m.created_at >= {{ .StartOfDay | timestamptz }} - '1 week'::interval
          and m.created_at < {{ .StartOfDay | timestamptz }}
          and m.website = '{{ .Params.website }}'
          and r.ipfs_impl = '{{ .Params.impl }}'
          and (m.error is null or m.error not like '%ERR_CONNECTION_REFUSED%') -- this is a measurement error and not a website error
      )
      select
        sum(1) filter ( where cte.type = 'IPFS' and not cte.has_error) successful_ipfs,
        sum(1) filter ( where cte.type = 'HTTP' and not cte.has_error) successful_http,
        sum(1) filter ( where cte.type = 'IPFS' ) total_ipfs,
        sum(1) filter ( where cte.type = 'HTTP' ) total_http
      from cte

scalars:
  - type: "number"
    name: "IPFS"
    dataset: "current"
    value: "successful_ipfs"
  - type: "number"
    name: "HTTP"
    dataset: "current"
    value: "successful_http"

layout:
  margin:
    b: 1
    t: 1
  title:
    font:
      size: 10
    text: 'Data: {{ .EndOfPreviousDay | dayModify "-7"  | simpledate}} - {{ .EndOfPreviousDay | simpledate }} ({{ .Params.impl }}, {{ .Params.website }}). Source: Tiros.'
    x: 1
    xanchor: "right"
    y: 0.01
    yanchor: "bottom"
