frequency: daily
datasets:
  - name: "current"
    source: "tiros"
    query: >
      select
          r.region,
          percentile_cont(0.{{ .Params.percentile }}) within group ( order by m.{{ .Params.metric }} ) filter ( where m.type = 'IPFS' ) p{{ .Params.percentile }}_ipfs,
          percentile_cont(0.{{ .Params.percentile }}) within group ( order by m.{{ .Params.metric }} ) filter ( where m.type = 'HTTP' ) p{{ .Params.percentile }}_http
      from measurements m
        inner join runs r on r.id = m.run_id
      where m.created_at >= {{ .StartOfDay | timestamptz }} - '1 week'::interval
        and m.created_at < {{ .StartOfDay | timestamptz }}
        and m.status_code >= 200
        and m.status_code < 400
        and r.ipfs_impl = '{{ .Params.impl }}'
      group by r.region

series:
  - type: "bar"
    name: "{{ .Params.impl }}"
    dataset: "current"
    labels: "region"
    values: "p{{ .Params.percentile }}_ipfs"
  - type: "bar"
    name: "HTTP"
    dataset: "current"
    labels: "region"
    values: "p{{ .Params.percentile }}_http"
    color: "orange"


layout:
  legend:
    orientation: "h"
    x: 0.01
    y: 1.05
    xanchor: "left"
  xaxis:
    title:
      text: "AWS Region"
      standoff: 10
  yaxis:
    autorange: true
    rangemode: "tozero"
    title:
      text: "Time To First Byte in s"
  margin:
    pad: 1
    t: 5
    l: 50
    r: 20
    b: 60
  title:
    font:
      size: 10
    text: 'Data: {{ .EndOfPreviousDay | dayModify "-7"  | simpledate}} - {{ .EndOfPreviousDay | simpledate }} (p{{ .Params.percentile }}, {{ .Params.metric }}). Source: Tiros.'
    x: 1
    xanchor: "right"
    y: 0.01
    yanchor: "bottom"

