frequency: weekly
datasets:
  - name: "main"
    source: "nebula_ipfs"
    query: >
      with u as (
        with period as (
          select d::date-'1 week'::interval AS start, d::date as end, tstzrange(d::date-'1 week'::interval, d::date) as range, extract(epoch from '1 week'::interval) as duration
          from generate_series({{ .StartOfWeek | timestamptz }}-'15 week'::interval, {{ .StartOfWeek | timestamptz }}, '1 week'::interval) d
        ) -- 10 weeks
        select period.end as date, s.peer_id,
          extract(epoch from sum(upper(s.uptime * period.range) - lower(s.uptime * period.range ))::interval)/period.duration as uptime
        from period, sessions s
        where s.uptime && period.range
        group by period.end, s.peer_id, period.duration
      )
      select date,
        sum(case when uptime >= 0.8 then 1 else 0 end) as online,
        sum(case when uptime >= 0.4 and uptime < 0.8 then 1 else 0 end) as mostlyonline,
        sum(case when uptime >= 0.1 and uptime < 0.4 then 1 else 0 end) as mostlyoffline,
        sum(case when uptime < 0.1 then 1 else 0 end) as offline
      from u
      group by date
      order by date;


series:
  - type: "bar"
    name: "Online"
    dataset: "main"
    labels: "date"
    values: "online"
    color: "online"
  - type: "bar"
    name: "Mostly online"
    dataset: "main"
    labels: "date"
    values: "mostlyonline"
    color: "mostlyonline"
  - type: "bar"
    name: "Mostly offline"
    dataset: "main"
    labels: "date"
    values: "mostlyoffline"
    color: "mostlyoffline"
  - type: "bar"
    name: "Offline"
    dataset: "main"
    labels: "date"
    values: "offline"
    color: "offline"

layout:
  barmode: stack
  title:
    text: "DHT server availability, classified over time"
  legend:
    orientation: "h"
  xaxis:
    type: "date"
