frequency: daily
datasets:
  - name: "Bifrost total requests by day"
    source: "caracol"
    query: >
      select date, value from get_collected_values(23, {{ .StartOfDay | timestamptz }} - '90 day'::interval, {{ .StartOfDay | timestamptz }});

series:
  - type: "bar"
    name: "Total"
    dataset: "Bifrost total requests by day"
    labels: "date"
    values: "value"


layout:
  title:
    text: "Daily HTTP Originated Requests (90 days up to {{ .EndOfPreviousDay | simpledate }}). Source: ipfs.io / dweb.link access logs"
  legend:
    orientation: "h"
  yaxis:
    autorange: true
    rangemode: "tozero"
    title:
      text: "Number of requests"
